body {
    background-color: rgb(255, 255, 255);
}

p.centrar {
    text-align: center;
    size: 20px;
}

div.contenedor {
    border: 2px none;
    padding: 10px;
}

p.Titulo {
    border: 1px solid black;
    background-color: hwb(202 74% 6%);
    padding: 20px;
    width: 300px;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 30px;

    display: block;
    margin: auto;
}

img.general {
    display: block;
    margin: auto;
    width: 550px;
    height: 580px;
    border: 2px solid black;
}

hr {
    height: 15px;
    background-color: black;
    border-style: none;
}

/*Primera parte de la tarea*/

p.padding {
    border: 1px solid black;
    background-color: rgb(127, 168, 255);
    padding: 50px;

    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
}

p.dotted {
    border-style: dotted;
    text-align: center;
}

p.dashed {
    border-style: dashed;
    text-align: center;
}

p.solid {
    border-style: solid;
    text-align: center;
}

div.margin {
    border: 1px double black;
    margin: 25px;
    background-color: blanchedalmond;
    font-size: 15px;
    text-align: center;

}

/*Segunda parte*/

div.static {
    position: static;
    border: 2px solid #73AD21;
    width: 180px;
}

div.relative {
    position: relative;
    bottom: 10px;
    border: 2px solid #73AD21;
    width: 180px;
}

div.absolute {
    position: absolute;
    border: 2px solid #73AD21;
    width: 180px;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 2px solid #73AD21;
}


/*Float y clear*/

.imagen-izquierda {
    float: left;
    width: 150px;
    margin-right: 10px;
}

.limpiar-izquierda {
    clear: left;
}


.imagen-right {
    float: right;
    width: 150px;
    margin-left: 10px;
}

.limpiar-right {
    clear: right;
}



.imagen-none {
    float: left;
    width: 150px;
}

.limpiar-none {
    clear: right;
}



.imagen-both {
    float: right;
    width: 150px;
}

.limpiar-both {
    clear: right;
}



/*Display*/

.bloque {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.inline {
    display: inline;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.none {
    display: none;
    /* Oculta completamente el contenido */
}


/*Overflow*/

div.visible {
    width: 200px;
    height: 100px;
    overflow: visible;
    border: 1px solid black;
    display: block;
    margin: auto;
}

div.hidden {
    width: 200px;
    height: 100px;
    overflow: hidden;
    border: 1px solid black;
    display: block;
    margin: auto;
}

div.scroll {
    width: 200px;
    height: 100px;
    overflow: scroll;
    border: 1px solid black;
    display: block;
    margin: auto;
}

div.auto {
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 1px solid black;
    display: block;
    margin: auto;
}

/*Visibility*/

.caja {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border: 2px solid blue;

    display: block;
    margin: auto;
}

div.hiddenVis {
    visibility: hidden;
}

tr.collapse {
    visibility: collapse;

    display: block;
    margin: auto;
}


/*     Z-INDEX */

#myDIV {
    width: 100%;
    position: relative;
    height: 300px;
    background-color: #FFFFFF;
}

#myDIV div {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: yellow;
    border: 1px solid;
    opacity: 0.5;
}

#myBox {
    position: absolute;
    background-color: rgb(131, 62, 241) !important;
    opacity: 1 !important;
    z-index: 2;
}

.centrarParrafo {
        text-align: center;
        position: relative; /* Asegura que no sea cubierto */
        z-index: 5; /* Opcional, en caso de solapamiento */
    }